<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<html>
    <head>
        <title>Liza's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Liza's blog</a></h1>
        </div>
        <div>
            <p>Published: 16.11.22, 16:49</p>
            <h2><a href="/">My first post</a></h2>
            <p>Liza - best pastry chef</p>
        </div>
        <div>
            <p>published: 16.11.22, 16:50</p>
            <h2><a href="">My second post and this is about my cannoli</a></h2>
            <p>They are delicious</p>
        </div>
    </body>
</html>